* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li, p, label, input {
  font-family: "Roboto";
  list-style: none;
}

.btn {
  cursor: help;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(270.4deg, #F2DCDE 0.38%, rgba(242, 220, 222, 0) 99.7%);
}

body header, body footer {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F23D3D;
}

body header h1, body footer h1 {
  color: white;
  width: 70%;
  margin: auto;
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 3.5em;
}

body .night {
  background: #242424;
  color: white;
}

body .msg {
  display: none;
}

body .msgError {
  display: block;
  color: white;
}

body section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 88vh;
  margin: auto;
}

body section aside, body section article {
  max-height: 80vh;
  min-height: 70vh;
  width: 50%;
}

body section aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section aside .bloc-predef, body section aside .bloc-perso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  min-height: 25vh;
}

body section aside .bloc-predef .form-categorie, body section aside .bloc-perso .form-categorie {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body section aside .bloc-predef .form-categorie input, body section aside .bloc-perso .form-categorie input {
  padding: 0.5rem;
  margin: 0.5rem;
}

body section aside .bloc-predef .inputAdds, body section aside .bloc-perso .inputAdds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body section aside .bloc-predef .inputAdds .btn-add, body section aside .bloc-perso .inputAdds .btn-add {
  background: #F23D3D;
  font-size: 1em;
  padding: 0.5rem 1.5rem;
  color: white;
  border-radius: 25px;
}

body section aside .bloc-predef .fa-film, body section aside .bloc-perso .fa-film {
  font-size: 2rem;
}

body section aside .btn, body section aside .btn-selection {
  max-width: 100%;
  margin: 1rem 3rem;
  padding: 1.5rem;
  border-radius: 25px;
  background-color: #242424;
  color: white;
  font-size: 3em;
  text-align: center;
}

body section aside .btn:hover, body section aside .btn-selection:hover {
  -webkit-animation: btnHover infinite 1s ease-in-out;
          animation: btnHover infinite 1s ease-in-out;
}

body section aside .btn-add:hover, body section aside .btn-selection:hover {
  -webkit-animation: btnHover infinite 0.5s ease-in-out;
          animation: btnHover infinite 0.5s ease-in-out;
}

body section aside .deleted-btn {
  padding: 0.25rem;
  background-color: red;
  border-radius: 5px;
  color: white;
}

@-webkit-keyframes btnHover {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes btnHover {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

body section article h2 {
  font-size: 2.5em;
  font-family: "Montserrat";
  text-align: center;
  width: 100%;
}

body section article .perso_titles {
  display: block;
  height: 150px;
}
/*# sourceMappingURL=styles.css.map */